@mixin flexbox($justify: flex-start, $align: flex-start, $gap:0, $wrap: wrap, $display: flex, $direction : row) {
    display: $display;
    justify-content: $justify ;
    align-items:$align;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction;
}
 