<section class="banner container">
    <img src="{{ asset('build/images/banner-home.webp') }}" class="banner-img" alt="wethenew banner" loading="lazy" >
    <div class="banner-content">
        <h1>Must Have</h1>
        <p>Que vous cherchiez un classique ou la dernière collab', votre bonheur se trouve ici.</p>
        <a href="*">Découvrir</a>
    </div>
</section>