<div class="brand-card" title="{{marque.name}}">
     <img src="{{asset('Images/marques/' ~ marque.imageName )}}" alt="">
     <div class="brand-card-content">
        <span class="brand-card-content-name">{{marque.name}}</span>
     </div>
</div> 