<div class="card">
    <a href="/" class="card-content">
        <img src="{{ vich_uploader_asset(model) }}" alt="Products of {{ model.name }} illustration">
        <span>{{ model.name }}</span>
    </a>
</div>