<header class="navbar">
    <nav class="navbar-content">
        <div class="navbar-content-image">
            {% include 'Frontend/Layout/_logo.html.twig' %}
        </div>
        <ul class="navbar-content-links">
            <li class="navbar-content-links-item"><a href="/">Sneakers</a></li>
            <li class="navbar-content-links-item"><a href="/">Chaussures</a></li>
            <li class="navbar-content-links-item"><a href="/">Livraison 48h</a></li>
        </ul>
        <div class="navbar-content-searchbar">
            <input type="text" placeholder="Rechercher une marque, un modèle...">
            <button type="submit"><i class="bi bi-search"></i></button>
        </div>
        <div class="navbar-content-buttons">
            <a href="/"><i class="bi bi-person"></i></a>
            <a href="/"><i class="bi bi-heart"></i></a>
            <a href="/"><i class="bi bi-bag"></i></a>
            <a href="/"><i class="bi bi-list"></i></a>
        </div>
    </nav>
</header>